/*スマホ向けレイアウト*/
@media all and (max-width: 670px){
  .lesson {
    width: 100%;
  }
  footer {
    text-align: center;
  }
  .btn {
    width: 50%;
  }
  .contact {
    text-align: center;
    padding-bottom: 30px;
  }
  .section-title span {
    color: #8a2be2;
  }
}
