/*スマホ向けレイアウト*/
@media all and (max-width: 670px){

  .header-right {
    display: none;
  }
  .fas.menu-icon {
    display: block;
    padding-right: 20px;
  }
  .top-wrapper h1 {
    font-size: 50px;
  }
  .section-title span {
    color: #00ff00;
  }
  .lesson {
    width: 100%;
  }
  .btn {
    width: 50%;
  }
  .flex-icon {
    flex-direction: column;
  }
  .flex-icon li {
    width: 100%;
    margin: 0 auto
  }
  .contact {
    text-align: center;
  }
  footer {
    text-align: center;
  }
}
